html {
	background: rgb(0,48,123);
	background: linear-gradient(90deg, $blue 10%, rgba(111,176,252,1) 45%) no-repeat;
	background-size: cover;
	margin: 0;
	min-height: 100%;
}
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.page-wrap {
    max-width: 1200px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
