// Styles de la page Home
$titleSize: 40px;
$hugeSize: 200px;
$arrowSize: 100px;
.home-page {
  .infos-block {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    h1 {
      color: transparent;
      font-size: $hugeSize;
      font-weight: 700;
      position: relative;
      .texte-logo-reflet {
      	color: transparent;
      	left: 50%;
      	position: absolute;
        transform: translate(-48%,5%);
      }
      .texte-logo {
      	color: white;
        left: 50%;
        position: absolute;
        text-shadow: 1px 1px 0.5px black;
        transform: translate(-50%,0);
        z-index: 1;
      }
    }
    @supports (-webkit-text-stroke: 1px black) {
      h1 {
        -webkit-text-stroke: 4px rgba(0,48,123,.5);
        -webkit-text-fill-color: transparent;
      }
      h1 .texte-logo{
      	-webkit-text-stroke: 4px $white;
        -webkit-text-fill-color: $white;	
      }
    }
    p {
      color: $titleColor;
      font-size: $titleSize;
      font-weight: 700;
    }
    @media (max-width: 768px){
    	h1 {
    		font-size: $hugeSize * .5;
    	}
    	p {
    		font-size: $titleSize * .75;
    	}
    }
  }
  .nav-arrow {
    position: absolute;
    bottom: 0px;
    right: 5%;
    font-size: $arrowSize;
    color: $white;
    .material-icons {
    	font-size: inherit;
    }
    @media (max-width: 768px){
    	font-size: $arrowSize - 20;
    }
  }

  .bulle { // bulle avec effet 3d
  	background: radial-gradient(circle at 100% 100%, $lightBlue, $blue 30%, rgba(255,255,255,1) 150%);
  	border-radius: 50%;
  	height: 0;
  	padding-top: 40%;
  	transform: translate(-5%,-10%);
  	width: 40%;
  }

  .bulle-sm {
  		background: radial-gradient(circle at 100% 100%, $lightBlue 30%, rgba(255,255,255,1) 150%);
  	padding-top: 25%; // hauteur de la bulle
  	position: absolute;
  	right: 0;
  	top: 0;
  	transform: translate(5%, -10%);
  	width: 25%; // largeur de la bulle
  }
}