// Styles de la page User
$arrowSize: 50px;
$titleSize: 44px;
$normalSize: 16px;
$smallSize: 12px;
.page-wrap {
	margin-left: auto;
	margin-right: auto;
}
.user-page {
	font-size: 16px;
	padding: 2em;
  .nav-arrow {
    position: relative;
    font-size: $arrowSize;
    color: $white;
    .material-icons {
    	font-size: inherit;
    }
  }
  .infos-block {
  	color: white;
  	font-weight: bold;
  	padding: 16px;
  	position: relative;
		width: 80%;
		p {
			font-size: $normalSize * 1.5;
			line-height: 1.2;
			padding-bottom: .5em;
			@media (max-width: 768px) {
	  		font-size: $normalSize;
	  	}
		}
		p:last-child {
			padding-bottom: 0;
		}
  	.info-label {
  		color: $darkBlue;
  		padding-right: .5em;
  	}
  	@media (max-width: 768px){
  		width: 100%;
  	}
  }
  .users-select {
  	font-size: $titleSize;
  	padding: 16px;
  	position: relative;
  	width: 80%;
  	select {
  		appearance: none;
  		background: transparent;
  		border: 8px solid $white;
  		color: $white;
  		display: block;
  		font-size: inherit;
  		margin-left: auto;
  		margin-right: auto;
  		padding: .5em;
  		width: 100%;
  	}
  	.material-icons {
  		color: $white;
  		font-size: 1em;
  		position: absolute;
  		right: .8em;
  		top: 50%;
  		transform: translateY(-50%);
  		z-index: -1;
  	}
  	@media (max-width: 768px){
  		font-size: $titleSize * .5;
  		width: 100%;
  		.material-icons {
  			right: 2em;
  		}
  	}
  }
  .articles-list {
  	display: flex;
  	flex-flow: row wrap;
		justify-content: space-between;
		align-content: space-between;
  	padding: 2em 1em;
  	width: 80%;
  	.article-card {
  		background-color: $white;
  		box-shadow: $boxShadow;
  		border-radius: $borderRadius;
  		padding: 24px 16px;
  		margin-bottom: 16px;
  		width: 300px;
  		.article-title {
  			color: $darkBlue;
  			font-size: $normalSize * 1.5;
  			font-weight: bold;
  			text-align: center;
  		}
  		.article-content {
  			font-size: $smallSize;
  			font-weight: 400;
  			line-height: 1.2;
  			padding-top: 24px;
  		}
  		@media (max-width: 768px){
  			margin-left: auto;
  			margin-right: auto;
  		}
  	}
  	@media (max-width: 768px){
  		width: 100%;
  	}
  }
}